@tailwind base;
@tailwind components;
@tailwind utilities;
@import "react-slideshow-image/dist/styles.css";

p {
    font-size: 16px !important;
    line-height: 28px !important;
    margin-bottom: 26px !important;
}

h1 {
    font-size: 27px !important;
    padding-top: 10px !important;
    margin-bottom: 22px !important;
    color: rgb(0, 0, 0) !important;
    font-weight: 700 !important;
}

h2 {
    font-size: 20px !important;
    padding-top: 33px !important;
    margin-bottom: 25px !important;
    color: rgb(0, 0, 0) !important;
    font-weight: 700 !important;
}

h3 {
    font-size: 20px !important;
    color: rgb(0, 0, 0) !important;
    font-weight: 700 !important;
}

/* Styles for iPad View (Tailwind's md breakpoint at 768px) */
@media (min-width: 768px) {
    p {
        font-size: 20px !important;
        line-height: 33px !important;
        margin-bottom: 33px !important;
    }

    h1 {
        font-size: 30px !important;
        margin-bottom: 25px !important;
    }

    h2 {
        font-size: 24px !important;
        padding-top: 40px !important;
        margin-bottom: 30px !important;
    }

    h3 {
        font-size: 22px !important;
        padding-top: 10px;
        margin-bottom: 10px !important;
    }
}

/* Styles for Desktop View and above (Tailwind's lg breakpoint at 1024px) */
@media (min-width: 1024px) {
    h1 {
        font-size: 32px !important; /* Adjusted size */
        margin-bottom: 30px;
    }
    h2 {
        font-size: 28px !important; /* Adjusted size */
    }
    h3 {
        font-size: 24px !important; /* Adjusted size */
    }
}

/* Emphasis */
.rich-text strong {
    @apply font-bold;
}

.rich-text em {
    @apply italic;
}

.rich-text del {
    @apply line-through;
}

/* Blockquotes */
.rich-text blockquote {
    @apply border-l-4 border-gray-400 pl-4 py-2 mb-4;
}

/* Lists */
.rich-text ul {
    @apply list-disc;
}

.rich-text ol {
    @apply list-decimal;
}

.rich-text li {
    @apply mb-2;
}

.rich-text li > ul {
    @apply list-disc pl-4 mb-2;
}

.rich-text li > ol {
    @apply list-decimal pl-4 mb-2;
}

/* Code blocks */
.rich-text pre {
    @apply font-mono bg-gray-900 text-gray-100 rounded p-4  my-6;
}

.rich-text code {
    @apply font-mono bg-gray-900 text-gray-100 rounded px-2 py-1;
}

/* Tables */
.rich-text table {
    @apply w-full border-collapse border-gray-300 my-6;
}

.rich-text th {
    @apply bg-gray-900 text-left py-2 px-4 font-semibold border-b border-gray-300;
}

.rich-text td {
    @apply py-2 px-4 border-b border-gray-300;
}

/* Images */
.rich-text img {
    @apply w-full object-cover rounded-xl my-6;
}

/* Custom containers */
.rich-text .warning {
    @apply bg-yellow-100 border-yellow-500 text-yellow-700 px-4 py-2 rounded-lg mb-4;
}

/******************************************* 
      React Slideshow Styles
    *******************************************/

.react-slideshow-container [aria-label="Previous Slide"] {
    margin-left: 1rem;
}

.react-slideshow-container [aria-label="Next Slide"] {
    margin-right: 1rem;
}
