@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
            to bottom,
            transparent,
            rgb(var(--background-end-rgb))
        )
        rgb(var(--background-start-rgb));
}

.my-custom-app-bar .MuiAppBar-root {
    max-width: 1550px !important;
    max-height: 40px !important;
    top: 40px;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    /* background-color: transparent !important; */
}

/* .MuiDialog-paper {
    background-color: transparent !important;
} */

@media only screen and (min-width: 1200px) {
    .my-custom-app-bar .MuiAppBar-root {
        max-width: 1350px !important;
    }
}

@media only screen and (min-width: 1500px) {
    .my-custom-app-bar .MuiAppBar-root {
        max-width: 1550px !important;
    }
}
