@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 236, 236, 236;
}

body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
            to bottom,
            transparent,
            rgb(var(--background-end-rgb))
        )
        rgb(var(--background-start-rgb));
    background-attachment: fixed;
}

.my-custom-app-bar .MuiAppBar-root {
    max-width: 1550px !important;
    max-height: 40px !important;
    top: 40px;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    /* background-color: transparent !important; */
}

/* .MuiDialog-paper {
    background-color: transparent !important;
} */

.seo-text p {
    font-size: 16px !important;
    line-height: 28px !important;
    margin-bottom: 26px !important;
}

.seo-text li {
    font-size: 16px !important;
    line-height: 28px !important;
    margin-bottom: 12px !important;
}

.seo-text h1 {
    font-size: 27px !important;
    padding-top: 10px !important;
    margin-bottom: 22px !important;
    color: rgb(0, 0, 0) !important;
    font-weight: 700 !important;
}

.seo-text h2 {
    font-size: 20px !important;
    padding-top: 33px !important;
    margin-bottom: 25px !important;
    color: rgb(0, 0, 0) !important;
    font-weight: 700 !important;
}

.seo-text h3 {
    font-size: 20px !important;
    color: rgb(0, 0, 0) !important;
    font-weight: 700 !important;
}

/* Styles for iPad View (Tailwind's md breakpoint at 768px) */
@media (min-width: 768px) {
    .seo-text p {
        font-size: 20px !important;
        line-height: 33px !important;
        margin-bottom: 33px !important;
    }

    .seo-text li {
        font-size: 20px !important;
        line-height: 33px !important;
        margin-bottom: 19px !important;
    }

    .seo-text h1 {
        font-size: 30px !important;
        margin-bottom: 25px !important;
    }

    .seo-text h2 {
        font-size: 24px !important;
        padding-top: 40px !important;
        margin-bottom: 30px !important;
    }

    .seo-text h3 {
        font-size: 22px !important;
        padding-top: 10px;
        margin-bottom: 10px !important;
    }
}

/* Styles for Desktop View and above (Tailwind's lg breakpoint at 1024px) */
@media (min-width: 1024px) {
    .seo-text h1 {
        font-size: 32px !important; /* Adjusted size */
        margin-bottom: 30px;
    }
    .seo-text h2 {
        font-size: 28px !important; /* Adjusted size */
    }
    .seo-text h3 {
        font-size: 24px !important; /* Adjusted size */
    }
}

@media only screen and (min-width: 1200px) {
    .my-custom-app-bar .MuiAppBar-root {
        max-width: 1350px !important;
    }
}

@media only screen and (min-width: 1500px) {
    .my-custom-app-bar .MuiAppBar-root {
        max-width: 1550px !important;
    }
}

/* something */
